@charset "utf-8";
@use './vars.scss' as *;
@use './mixins.scss' as *;
@use './tabs.scss';

@use 'bulma/sass' with (
  $family-primary: $family-sans-serif,
  $spacing-values: (
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.5rem,
    '6': 3rem,
    '7': 7rem,
    '8': 8rem,
    '9': 9rem,
    '10': 10px,
    '20': 20px,
    '30': 30px,
    '40': 40px,
    '50': 50px,
    '60': 60px,
    '70': 70px,
    '80': 80px,
    '90': 90px,
    '100': 100px,
    'auto': auto,
  )
);

@use 'bulma/sass/utilities/mixins' as *;
@use 'bulma/sass/utilities/initial-variables' as iv;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

// Bulma has is-hidden-* classes that hide elements after a breakpoint, but does not seem to have classes that hide elements up to a breakpoint
// https://bulma.io/documentation/helpers/visibility-helpers/
$devices: (
  tablet: iv.$tablet,
  // 768px
  desktop: iv.$desktop,
  // 1024px
  widescreen: iv.$widescreen,
  // 1216px
  fullhd: iv.$fullhd,
  // 1408px
);

@each $key, $value in $devices {
  @include until($value) {
    .from-#{$key} {
      display: none;
    }
  }
}

body {
  font-size: 15px;
  --bulma-body-color: #4a4a4a;
}

hr {
  @include primary(background-color);
  height: 1px;
  width: 100%;
}

// override bulma title
.title,
.title:not(:last-child) {
  --bulma-title-line-height: 1.5;
  --bulma-title-color: var(--bulma-body-color);
  --bulma-subtitle-color: var(--bulma-body-color);
  font-size: 30px;
  margin-bottom: 10px;

  &.inline {
    --bulma-title-color: black;
    --bulma-subtitle-color: black;
  }

  @include from($tablet) {
    font-size: 40px;
  }
  @include from($widescreen) {
    font-size: 50px;
  }
}

button:not([disabled]:not(.button-unstyled)) {
  cursor: pointer;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

// flat buttons looks like links and don't extend bulma button sizes
// is-link already exists at bulma for buttons
button.is-flat {
  background: none;
  border: none;
  &:not([disabled]) {
    cursor: pointer;
  }
}

button.is-selected {
  @include primary(background-color);
  color: $primary-invert;
  &:hover,
  &:active,
  &:focus {
    color: $primary-invert;
  }
}

.w-100 {
  width: 100%;
}

.page-title {
  text-align: center;
  margin-bottom: 1.5rem !important;
  color: var(--bulma-subtitle-color);

  &:not(h1, h2, h3) {
    --bulma-title-weight: 500;
  }
}

.is-underlined {
  text-decoration: underline;
}

.button {
  border: solid 1px black;
  text-transform: uppercase;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  height: 2.5em;
  box-shadow: none;

  &:hover {
    border-color: #b5b5b5;
    background-color: white;
  }

  &.is-primary {
    border-color: transparent;
  }

  &.is-secondary {
    @include secondary(background-color);
    font-weight: bold;
  }
}

.error {
  color: red;
}

.ck.oneline {
  margin-top: -0.5rem;

  p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

.divider-bottom {
  @include primary(border-bottom-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px;
}

.divider-30 {
  @include primary(border-bottom-color);
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px;
}

.fill-primary {
  @include primary(fill);
}
.fill-secondary {
  @include secondary(fill);
}
.fill-secondary-hover {
  &:hover {
    @include secondary(fill);
  }
}
.stroke-primary {
  @include primary(stroke);
}
.stroke-secondary {
  @include secondary(stroke);
}

a,
a.is-primary,
i.is-primary,
.is-primary-text {
  @include primary(color);
}
a.primary-hover {
  color: black;
  &:hover {
    @include primary(color);
  }
}
a.is-secondary,
i.is-secondary,
.is-secondary-text {
  @include secondary(color);
}
.bg-primary,
.button.is-primary:not(.is-outlined) {
  @include primary(background-color);
  color: $primary-invert !important; // override a.is-primary since primary mixin increases specificity
}
.bg-secondary,
.button.is-secondary {
  @include secondary(background-color);
}
.button.is-primary.is-outlined,
a.button.is-primary.is-outlined {
  @include primary(border-color);
  @include primary(color);
  background-color: transparent;
}
a.button.is-primary:focus,
a.button.is-primary:hover,
a.button.is-primary.is-outlined:focus,
a.button.is-primary.is-outlined:hover,
.button.is-primary:focus,
.button.is-primary:hover,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover {
  @include primary(background-color);
  color: $primary-invert !important; // override a.is-primary since primary mixin increases specificity
}
a.button.is-secondary.is-outlined,
.button.is-secondary.is-outlined {
  @include secondary(border-color);
  @include secondary(color);
}
a.button.is-secondary:focus,
a.button.is-secondary:hover,
a.button.is-secondary.is-outlined:focus,
a.button.is-secondary.is-outlined:hover,
.button.is-secondary:focus,
.button.is-secondary:hover,
.button.is-secondary.is-outlined:focus,
.button.is-secondary.is-outlined:hover {
  @include secondary(background-color);
  @include primary(color);
}

// event smaller than is-small. Useful for tags.
.button.is-mini {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  height: auto;
}

/* Unstyled button for text that needs to sit next to a button and have the same size and padding. is-flat does not remove all styles. */
.button-unstyled,
.button-unstyled.is-primary {
  cursor: text;
  background-color: transparent;
  border-color: transparent !important;
  &:hover {
    background-color: transparent;
  }
}

.no-user-select {
  user-select: none;
}

// increase specificy above bulma table
.table.table.table td {
  vertical-align: middle;
}

.tablet-columns-2 {
  column-count: 1;

  @include from($tablet) {
    column-count: 2;
  }
}

.sublabel .label {
  font-size: 14px;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
}

.menu-list {
  a,
  button,
  .menu-item {
    width: unset;
    text-align: unset;
  }

  .submenu {
    a,
    button,
    .menu-item {
      padding: initial;
    }
  }
}

svg {
  width: revert;
  height: revert;
}

.delete {
  --bulma-delete-background-alpha: 0.2;
}

.tags {
  display: block;
  gap: unset;
}

a.dropdown-item {
  color: #4a4a4a;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}
